In [2]:
%matplotlib widget

In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.ticker as ticker
import numpy as np

In [4]:
df1 = pd.read_csv("langs_by_county.csv") 
df1.head(3)

,fips,county,state code,county code,population,no_french,pct_french,no_spanish,pct_spanish,no_chinese,pct_chinese
0,2020,"Anchorage Municipality, AK",2,20,300950,1035,0.343911,12635,4.198372,740,0.245888
1,4013,"Maricopa County, AZ",4,13,4009412,10680,0.266373,733630,18.297696,13750,0.342943
2,4017,"Navajo County, AZ",4,17,107322,85,0.079201,5885,5.483498,0,0.000000

In [5]:
df2 = pd.read_csv("state_code.csv") 
df2.head(3)

   state code state name
0           1    Alabama
1           2     Alaska
2           4    Arizona

In [7]:
combined_df = pd.merge(df1, df2, how='outer', on='state code')
combined_df.head()

,fips,county,state code,county code,population,no_french,pct_french,no_spanish,pct_spanish,no_chinese,pct_chinese,state name
0,2020.0,"Anchorage Municipality, AK",2,20.0,300950.0,1035.0,0.343911,12635.0,4.198372,740.0,0.245888,Alaska
1,4013.0,"Maricopa County, AZ",4,13.0,4009412.0,10680.0,0.266373,733630.0,18.297696,13750.0,0.342943,Arizona
2,4017.0,"Navajo County, AZ",4,17.0,107322.0,85.0,0.079201,5885.0,5.483498,0.0,0.000000,Arizona
3,4019.0,"Pima County, AZ",4,19.0,996554.0,3230.0,0.324117,217115.0,21.786577,4625.0,0.464099,Arizona
4,6001.0,"Alameda County, CA",6,1.0,1578891.0,6915.0,0.437966,241150.0,15.273379,69165.0,4.380606,California

In [29]:
# French Percentage by County (TOP 30 COUNTIES THAT SPEAK FRENCH MOST FREFREQUENTLY)
dff_french = (combined_df.sort_values(by='pct_french', ascending=False).head(100))
dff_french

,fips,county,state code,county code,population,no_french,pct_french,no_spanish,pct_spanish,no_chinese,pct_chinese,state name
84,33011.0,"Hillsborough County, NH",33,11.0,403985.0,9465.0,2.342909,15865.0,3.927126,1620.0,0.401005,New Hampshire
63,24031.0,"Montgomery County, MD",24,31.0,1016677.0,21660.0,2.130470,144015.0,14.165266,26460.0,2.602596,Maryland
107,36061.0,"New York County, NY",36,61.0,1626159.0,34560.0,2.125253,346085.0,21.282359,54690.0,3.363140,New York
33,11001.0,"District of Columbia, DC",11,1.0,646449.0,8360.0,1.293219,44455.0,6.876799,2665.0,0.412252,District of Columbia
34,12011.0,"Broward County, FL",12,11.0,1838844.0,23240.0,1.263837,390650.0,21.244325,5885.0,0.320038,Florida
...,...,...,...,...,...,...,...,...,...,...,...,...
145,51087.0,"Henrico County, VA",51,87.0,318611.0,1080.0,0.338971,12560.0,3.942111,2085.0,0.654403,Virginia
78,27037.0,"Dakota County, MN",27,37.0,408509.0,1380.0,0.337814,17280.0,4.230017,1470.0,0.359845,Minnesota
87,34005.0,"Burlington County, NJ",34,5.0,450838.0,1500.0,0.332714,19160.0,4.249864,1400.0,0.310533,New Jersey
37,12057.0,"Hillsborough County, FL",12,57.0,1291578.0,4295.0,0.332539,236685.0,18.325258,3160.0,0.244662,Florida
88,34007.0,"Camden County, NJ",34,7.0,512854.0,1685.0,0.328554,56100.0,10.938786,3420.0,0.666856,New Jersey

In [30]:
fig, ax = plt.subplots(figsize=(100, 20))
ax.barh(dff_french['state name'], dff_french['pct_french'])

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to  previous…

In [36]:
# Set a Title and labels
plt.title("Percentage of Households Speaking French per State")
plt.xlabel("Percentage of Households Speaking French")
plt.ylabel("State")

Text(58,0.5,'State')

In [37]:
# Save our graph and show the graph
plt.tight_layout()
plt.savefig("bar_pct_french_state.png")
plt.show()

In [38]:
# Spanish Percentage by County (TOP 30 COUNTIES THAT SPEAK SPANISH MOST FREFREQUENTLY)
dff_spanish = (combined_df.sort_values(by='pct_spanish', ascending=False).head(100))
dff_spanish

,fips,county,state code,county code,population,no_french,pct_french,no_spanish,pct_spanish,no_chinese,pct_chinese,state name
39,12086.0,"Miami-Dade County, FL",12,86.0,2617176.0,14965.0,0.571800,1526290.0,58.318203,6125.0,0.234031,Florida
102,36005.0,"Bronx County, NY",36,5.0,1418733.0,12140.0,0.855693,600930.0,42.356807,4445.0,0.313308,New York
9,6053.0,"Monterey County, CA",6,53.0,428826.0,1115.0,0.260012,177465.0,41.383918,1365.0,0.318311,California
8,6037.0,"Los Angeles County, CA",6,37.0,10017068.0,38235.0,0.381699,3653910.0,36.476841,174385.0,1.740879,California
90,34017.0,"Hudson County, NJ",34,17.0,660282.0,3580.0,0.542193,233305.0,35.334145,6590.0,0.998058,New Jersey
...,...,...,...,...,...,...,...,...,...,...,...,...
122,41051.0,"Multnomah County, OR",41,51.0,766135.0,3225.0,0.420944,57695.0,7.530657,6410.0,0.836667,Oregon
117,37183.0,"Wake County, NC",37,183.0,974289.0,5235.0,0.537315,73105.0,7.503420,6630.0,0.680496,North Carolina
73,25027.0,"Worcester County, MA",25,27.0,809106.0,9545.0,1.179697,57540.0,7.111553,4165.0,0.514766,Massachusetts
33,11001.0,"District of Columbia, DC",11,1.0,646449.0,8360.0,1.293219,44455.0,6.876799,2665.0,0.412252,District of Columbia
93,34025.0,"Monmouth County, NJ",34,25.0,629672.0,1770.0,0.281099,43175.0,6.856744,5680.0,0.902057,New Jersey

In [39]:
fig, ax = plt.subplots(figsize=(80, 10))
ax.barh(dff_spanish['state name'], dff_spanish['pct_spanish'])

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to  previous…

In [40]:
# Set a Title and labels
plt.title("Percentage of Households Speaking Spanish per State")
plt.xlabel("Percentage of Households Speaking Spanish")
plt.ylabel("State")

Text(-87.6806,0.5,'State')

In [42]:
# Save our graph and show the grap
plt.tight_layout()
plt.savefig("bar_pct_spanish_state.png")
plt.show()

In [44]:
# Chinese Percentage by County (TOP 30 COUNTIES THAT SPEAK CHINESE MOST FREFREQUENTLY)
dff_chinese = (combined_df.sort_values(by='pct_chinese', ascending=False).head(100))
dff_chinese

,fips,county,state code,county code,population,no_french,pct_french,no_spanish,pct_spanish,no_chinese,pct_chinese,state name
16,6075.0,"San Francisco County, CA",6,75.0,837442.0,8810.0,1.052013,90720.0,10.832989,72135.0,8.613731,California
110,36081.0,"Queens County, NY",36,81.0,2296175.0,13075.0,0.569425,509025.0,22.168389,120505.0,5.248076,New York
4,6001.0,"Alameda County, CA",6,1.0,1578891.0,6915.0,0.437966,241150.0,15.273379,69165.0,4.380606,California
20,6085.0,"Santa Clara County, CA",6,85.0,1862041.0,9060.0,0.486563,320730.0,17.224648,72550.0,3.896262,California
18,6081.0,"San Mateo County, CA",6,81.0,747373.0,3975.0,0.531863,138645.0,18.550978,26745.0,3.578534,California
...,...,...,...,...,...,...,...,...,...,...,...,...
59,22051.0,"Jefferson Parish, LA",22,51.0,434767.0,2785.0,0.640573,43015.0,9.893805,1720.0,0.395614,Louisiana
12,6065.0,"Riverside County, CA",6,65.0,2292507.0,4955.0,0.216139,683845.0,29.829571,8945.0,0.390184,California
103,36029.0,"Erie County, NY",36,29.0,919866.0,3935.0,0.427780,27950.0,3.038486,3550.0,0.385926,New York
54,17197.0,"Will County, IL",17,197.0,682829.0,1795.0,0.262877,75030.0,10.988110,2635.0,0.385895,Illinois
40,12095.0,"Orange County, FL",12,95.0,1225267.0,5050.0,0.412155,259340.0,21.165999,4720.0,0.385222,Florida

In [45]:
fig, ax = plt.subplots(figsize=(80, 10))
ax.barh(dff_chinese['state name'], dff_chinese['pct_chinese'])

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to  previous…

In [46]:
# Set a Title and labels
plt.title("Percentage of Households Speaking Chinese per State")
plt.xlabel("Percentage of Households Speaking Chinese")
plt.ylabel("State")

Text(1694.07,0.5,'State')

In [48]:
# Save our graph and show the grap
plt.tight_layout()
plt.savefig("bar_pct_chinese_state.png")
plt.show()