In [7]:
import pandas as pd
import requests
import json
import csv
from config import api_key

In [8]:
#sets up lists for each of the columns in the API request
est = [] #population estimate
lanlabel = [] #name of language
name = [] #name of the place
lan = [] #language code
state = [] #state code for FIPS
county = [] #county code for FIPS

#These are the language codes used by the Census in their API requests.

Spanish = 625
Arabic = 777
Chinese = 708
Mandarin = 712
French = 620
Polish = 645

#This is the census API URL:

url = "https://api.census.gov/data/2013/language?get=EST,LANLABEL,NAME&for=county:*&LAN="

#This is a sample built URL for Chinese

query_url = f"{url}{Chinese}&key={api_key}"

print(query_url)

https://api.census.gov/data/2013/language?get=EST,LANLABEL,NAME&for=county:*&LAN=708&key=2ee8b5923d3a2a37d14bbcf9955d282fb9b1f3f5

In [13]:
response = requests.get(query_url).json()

response_df = pd.DataFrame(response)

response_df.columns = response_df.iloc[0]
response_df = response_df.drop(response_df.index[0])

response_df.head()

0    EST LANLABEL                        NAME  LAN state county
1    740  Chinese  Anchorage Municipality, AK  708    02    020
2  13750  Chinese         Maricopa County, AZ  708    04    013
3   None  Chinese           Navajo County, AZ  708    04    017
4   4625  Chinese             Pima County, AZ  708    04    019
5  69165  Chinese          Alameda County, CA  708    06    001

In [14]:
response_df["FIPS Code"] = response_df["state"].map(str) + response_df["county"]
#https://stackoverflow.com/questions/19377969/combine-two-columns-of-text-in-dataframe-in-pandas-python

#response_df = response_df.set_index("FIPS Code")

response_df.head()

0    EST LANLABEL                        NAME  LAN state county FIPS Code
1    740  Chinese  Anchorage Municipality, AK  708    02    020     02020
2  13750  Chinese         Maricopa County, AZ  708    04    013     04013
3   None  Chinese           Navajo County, AZ  708    04    017     04017
4   4625  Chinese             Pima County, AZ  708    04    019     04019
5  69165  Chinese          Alameda County, CA  708    06    001     06001

In [15]:
gps_coords = "County GPS Coordinates.csv"

latlong = pd.read_csv(gps_coords, converters={"FIPS": lambda x: str(x)})
#https://stackoverflow.com/questions/13250046/how-to-keep-leading-zeros-in-a-column-when-reading-csv-with-pandas

latlong_df = pd.DataFrame(latlong, dtype=str)

latlong_df = latlong_df.rename(columns={"FIPS": "FIPS Code"})

latlong_df.head()

,Sort [1],State,FIPS Code,County [2],County Seat(s) [3],Population(2010),Land Area (km2),Land Area (mi2),Water Area (km2),Water Area (mi2),Total Area (km2),Total Area (mi2),Latitude,Longitude
0,1,AL,01001,Autauga,Prattville,"54,571","1,539.58",594.436,25.776,9.952,"1,565.36",604.388,32.536382,-86.64449
1,2,AL,01003,Baldwin,Bay Minette,"182,265","4,117.52","1,589.78","1,133.19",437.527,"5,250.71","2,027.31",30.659218,-87.74606700000001
2,3,AL,01005,Barbour,Clayton,"27,457","2,291.82",884.876,50.865,19.639,"2,342.68",904.515,31.87067,-85.405456
3,4,AL,01007,Bibb,Centreville,"22,915","1,612.48",622.582,9.289,3.587,"1,621.77",626.169,33.015893,-87.12714799999999
4,5,AL,01009,Blount,Oneonta,"57,322","1,669.96",644.776,15.157,5.852,"1,685.12",650.628,33.977447999999995,-86.567246

In [17]:
countymap_df = pd.merge(response_df, latlong_df, on = "FIPS Code")

countymap_df.head()

,EST,LANLABEL,NAME,LAN,state,county,FIPS Code,Sort [1],State,County [2],County Seat(s) [3],Population(2010),Land Area (km2),Land Area (mi2),Water Area (km2),Water Area (mi2),Total Area (km2),Total Area (mi2),Latitude,Longitude
0,740,Chinese,"Anchorage Municipality, AK",708,02,020,02020,70,AK,Anchorage,Anchorage,"291,826","4,415.11","1,704.68",663.861,256.318,"5,078.97","1,961.00",61.177549,-149.27435400000002
1,13750,Chinese,"Maricopa County, AZ",708,04,013,04013,104,AZ,Maricopa,Phoenix,"3,817,117","23,828.26","9,200.14",62.796,24.246,"23,891.06","9,224.39",33.346540999999995,-112.495534
2,None,Chinese,"Navajo County, AZ",708,04,017,04017,106,AZ,Navajo,Holbrook,"107,449","25,771.47","9,950.42",24.078,9.297,"25,795.55","9,959.72",35.390934,-110.320908
3,4625,Chinese,"Pima County, AZ",708,04,019,04019,107,AZ,Pima,Tucson,"980,263","23,794.31","9,187.04",5.338,2.061,"23,799.65","9,189.10",32.128237,-111.783018
4,69165,Chinese,"Alameda County, CA",708,06,001,06001,187,CA,Alameda,Oakland,"1,510,271","1,914.05",739.017,213.185,82.311,"2,127.23",821.328,37.648081,-121.91330400000001